html {
	position: relative;
	height: 100%;
}
@page{
	margin:25px 0px 0px 0px;
}

body {
	height: 100%;
	letter-spacing: 1px;
	font-family: DejaVu Sans, sans-serif !important;
	font-weight:300 !important;
}
.special{
	background: red;
	background: url('../img/tpl-bg.png');
}

.top-left{
	margin-left:-44px;
}

.top-center img{
	width:150px;
}

main h1.title{
	line-height:10px;
}

main .name{
	padding:5px 0px 30px 0px;
}
main .desc{
	padding:0 90px;
	font-size:19px;
}

.font-20{
	font-size:20px;
}
.font-24{
	font-size: 24px;
}
.font-26{
	font-size:26px;
}
.font-45{
	font-size:45px;
}

.m-top-10 {
	margin-top: 10px;
}

.m-top-20 {
	margin-top: 20px;
}

.m-top-30 {
	margin-top: 30px;
}

.m-top-40 {
	margin-top: 40px;
}

.m-top-50 {
	margin-top: 50px;
}

.m-top-60 {
	margin-top: 60px;
}

.weight-400 {
	font-weight: 400;
}

.weight-300 {
	font-weight: 300;
}

header {
	padding: 25px 0;
}

header img {
	width: 110px;
}

main {
	background: url(../img/tpl-bg.png);
	height:972px;
}

.name {
	position: relative;
	font-style: italic;
	font-size:43px !important;
}

.name:after {
	content: '';
	position: absolute;
	left: 370px;
	right: 0;
	top: 90px;
	margin: 0 auto;
	width: 750px;
	height: 1px;
	background-color: #444;
}


.mba-stamp{
	height:300px;
	width:300px;
	left:50px;
	position: absolute;
	top:50px;
}
.mba-stamp img{
	width:230px;
}
.unipi-stamp{
	position: absolute;
	width:100px;
	height:100px;
	position: absolute;
	left:155px;
	top:50px;
}
.unipi-stamp>img{
	width:220px;
}
.unipi-stamp .signature{
	position: absolute;
	width:250px;
	top:20px;
	left:-110px;
}